
@using VentasNet.Infra.DTO.Request;
@model IEnumerable<ProveedorReq>
<h2>Listado de Proveedores</h2>


@{
    var provReq = new ProveedorReq();
}

<table class="table">

    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.RazonSocial)</th>
            <th>@Html.DisplayNameFor(model => model.Domicilio)</th>
            <th>@Html.DisplayNameFor(model => model.Cuit)</th>
            <th>@Html.DisplayNameFor(model => model.Provincia)</th>
        </tr>
    </thead>

    @{

        if (ViewBag.Proveedor != null)
        {
            foreach (ProveedorReq prov in ViewBag.Proveedor)
            {
                <tr>

                    <td>@prov.RazonSocial</td>
                    <td>@prov.Domicilio</td>
                    <td>@prov.Cuit</td>
                    <td>@prov.Provincia</td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", "Proveedor", prov,  new { @class="btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", "Proveedor",prov, new { @class="btn btn-danger"})
                    </td>
                </tr>
            }
        }
    }

</table>