@model Cliente

<h2>Agregar Cliente</h2>

<form method="post">
    @Html.TextBoxFor(m => m.Id);
    @Html.TextBoxFor(m => m.RazonSocial);
    @Html.TextBoxFor(m => m.Domicilio);
    @Html.TextBoxFor(m => m.Provincia);
    @Html.TextBoxFor(m => m.Cuit);

    @*<button type="button" onclick="location.href='@Url.Action("GuardarCliente","Cliente", new Cliente{Id = Model.Id, 
        Cuit = Model.Cuit, 
        RazonSocial = Model.RazonSocial, 
        Domicilio = Model.Domicilio, 
        Provincia = Model.Provincia})'">AgregarUsando
    </button>*@

    <button type="button" onclick="location.href='@Url.Action("GuardarCliente","Cliente", new Cliente{Id=Model.Id})'">AgregarUsando</button>
</form>
